@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1248px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.container .cards {
  background-color: rgb(244, 220, 220);
  margin-top: 100px;
  padding: 50px 50px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 10px 10px black;
          box-shadow: 0px 0px 10px 10px black;
}
.container .cards img {
  margin-bottom: 10px;
}
.container .cards p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #414141;
}
.container .cards h3 {
  color: #414141;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 19px;
}
.container .cards button {
  padding: 4px 12px;
  border-radius: 5px;
  border: 2px solid rgb(22, 196, 45);
  color: #414141;
}
.container .cards button:hover {
  background-color: rgb(22, 196, 45);
  color: #fff;
}