@use "../global.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

#login-form.open {
  display: flex;
}
.body {
  .link-area {
    display: flex;
    position: fixed;
    left: 50px;
    right: 50px;
    border-radius: 10px;
    padding-top: 30px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
    background-color: #fff;
    z-index: 1;
    margin-top: 75px;
    &__items {
      &__div {
        margin-bottom: 24px;
        &__links {
          //styleName: Desc/Text-Bold/S;
          font-family: Rubik;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #414141;
          &:hover {
            color: #ff6633;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

// header
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  padding: 11px 0;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0px 3px 4px rgb(151, 150, 150);
  .container {
    .navigation {
      #navbar-open {
        display: none;
      }
      display: flex;
      align-items: center;
      gap: 40px;
      .navigation-right {
        gap: 24px;
        display: flex;
        &-area {
          display: flex;
          align-items: center;
          gap: 24px;
          &__name {
            //styleName: Desc/Text/S;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #232323;
          }
        }
        display: flex;
        align-items: center;
        .navigation-right-one {
          display: flex;
          &-link__one {
            display: flex;
            gap: 24px;
            &__a {
              display: flex;
              flex-direction: column;
              gap: 8px;
              text-align: center;
              &_link {
                //styleName: Desc/Text/XS;
                font-family: Rubik;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                color: #414141;
              }
              img {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
      .navigation-left {
        display: flex;
        gap: 24px;
        &__input {
          padding: 8px 8px;
          width: 344px;
          outline: none;
          border-radius: 8px;
          border: 1px solid var(--Text-In-Field, #ccc);
          background: url("../../assets/images/home-img/search.png") no-repeat;
          background-position: right;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .header {
    .container {
      .navigation {
        .navigation-right {
          .navigation-right-area {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .header {
    .container {
      .navigation {
        .navigation-right {
          .navigation-right-one {
            .navigation-right-one-link__one {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .header {
    .container {
      .navigation {
        gap: 3px;
        #navbar-open {
          display: inline-block;
        }
        .navigation-left {
          .navigation-left__input {
            display: none;
          }
        }
        .navigation-right {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .header {
    .container {
      .navigation {
        .navigation-left {
          #toggleForm {
            img {
              display: none;
            }
          }
        }
      }
    }
  }
}
// header

// navbar-responsive

#navbar-open {
  img {
    width: 50px;
    padding: 10px;
    border-radius: 5px;
  }
}
#navbar-responsive {
  z-index: 900;
  transition: 0.6s;
  #navbar-close {
    img {
      width: 40px;
    }
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 8px;
    border-radius: 4px;
    &:hover {
      transform: rotate(359deg);
    }
  }
  .navigation-responsive-right {
    // padding: 10px 110px;
    // background: #ffecdf;
    // border-radius: 10px;

    &-one {
      &-link__one {
        display: flex;
        flex-direction: column;
        gap: 30px;
        &__flex {
          display: flex;
          flex-direction: column;
          text-align: center;
          grid-area: 24px;
        }
        .navigation-right-one-link__one__a_link {
          //styleName: Desc/Text/XS;
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: center;
          color: #414141;
        }
      }
    }
  }
  .navigation-responsive-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
    &__input {
      padding: 12px;
      max-width: 100%;
      width: 260px;
      outline: none;
      background-color: #ccc;
      backdrop-filter: blur(15px);
      border-radius: 8px;
      border: 1px solid var(--Text-In-Field, #efc8c8);
      background: url("../../assets/images/home-img/search.png") no-repeat;
      background-position: right;
      margin-bottom: 100px;
    }
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 248, 179);
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  // background: url("../../assets/images/arrangement-black-friday-shopping-carts-with-copy-space_23-2148667047.avif")
  // no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
}
// navbar-responsivea

// MAIN SECTION/////

.footer {
  background-image: url("../../assets/images/home-img/bg-footer.png");
  padding: 24px 0;
  .container {
    .footer-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .footer-bottom__flex {
        display: flex;
        align-items: center;
        gap: 20px;
        .footer-bottom__design {
          color: #414141;
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
    .footer-items {
      gap: 133px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &__description2 {
        &__1 {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 40px;
          &__number {
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #414141;
            margin-bottom: 20px;
          }
          &__flex {
            display: flex;
            align-items: center;
            gap: 16px;
          }
        }
      }
      .footer-items-description1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        &__link2 {
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: #414141;
        }
        &__link {
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: #414141;
          padding: 3px 10px;
          border: 1px solid rgb(247, 150, 150);
          &:hover {
            color: rgb(162, 74, 74);
          }
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .foooter {
    .container {
      .footer-bottom {
        gap: 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    .container {
      .footer-items {
        gap: 60px;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fcd5bacc;
  display: none;
  align-items: center;
  justify-content: center;
  animation: modalScale 0.3s linear alternate;
  z-index: 100;
}
.modal.open {
  display: flex;
}

.modal-content {
  #btn-close {
    background-color: red;
    position: relative;
    top: -375px;
    left: 290px;
  }
  padding: 72px 80px 40px 40px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.5);
  background: #fff;
  &__h {
    //styleName: Desc/Header/S;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #414141;
    margin-bottom: 32px;
  }
  &__p {
    //styleName: Desc/Text/M;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #8f8f8f;
  }
  &__i {
    border: 1px solid #70c05b;
    border-radius: 10px;
    padding: 16px 40px;
    outline: none;
    margin-bottom: 32px;
  }
  &__btn {
    //styleName: Desc/Text/L;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    background: #fcd5ba;
    border-radius: 5px;
    padding: 16px 92px;
    margin-bottom: 32px;
    max-width: 100%;
  }
  &__flex {
    display: flex;
    gap: 20px;
    align-items: center;
    &__a {
      border: 1px solid #70c05b;

      font-family: Rubik;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;
      color: #70c05b;
      padding: 4px 10px;
      border-radius: 5px;
    }
    &__a2 {
      //styleName: Desc/Text/XS;
      font-family: Rubik;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;
      color: #606060;
      &:hover {
        color: #70c05b;
        padding: 4px 10px;
        color: #70c05b;
        border: 1px solid #70c05b;
        border-radius: 5px;
      }
    }
  }
}

@keyframes modalScale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.main {
  .sale {
    margin-top: 80px;
    .container {
      .sale-card {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        max-width: 100%;
        .sale-card__item {
          padding-bottom: 8px;
          &:hover {
            box-shadow: 3px 3px 3px #f5cbbe;
          }
          .sale-card-item__btn {
            color: #70c05b;
            margin-top: 8px;
            padding: 8px 8px;
            width: 256px;
            margin-left: 20px;
            border: 1px solid #70c05b;
            border-radius: 4px;
            //styleName: Desc/Text/S;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;

            &:hover {
              border: none;
              background: #ff6633;
              color: #ffffff;
            }
          }
          &__img5 {
            margin-left: 8px;
          }
          .sale-card__item__decription {
            max-width: 290px;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #414141;
            margin-left: 8px;
            margin-bottom: 8px;
          }
          &__flex {
            display: flex;
            align-items: center;
            gap: 140px;
            margin-left: 8px;
            margin-top: -75px;
            &__p1-1 {
              margin-top: 90px;
              //styleName: Desc/Text-Bold/M;
              font-family: Rubik;
              font-size: 18px;
              font-weight: 700;
              line-height: 27px;
              letter-spacing: 0em;
              text-align: left;
              color: #414141;
            }
            &__p1 {
              font-family: Rubik;
              font-size: 18px;
              font-weight: 700;
              line-height: 27px;
              letter-spacing: 0em;
              text-align: left;
              color: #414141;
            }
            &__p2 {
              color: #bfbfbf;
              font-family: Rubik;
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: left;
            }
            &__p3 {
              color: #606060;
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
          background-color: #fff;
          &__img {
            position: relative;
            top: -150px;
            left: 240px;
          }
          &__btn3 {
            position: relative;
            top: -80px;
            left: 18px;
            background-color: #ff6633;
            padding: 4px 8px;
            border-radius: 6px;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
          }
        }
      }
      .sale-top {
        display: flex;
        margin-bottom: 60px;
        align-items: center;
        justify-content: space-between;
        &-flex {
          display: flex;
          align-items: center;
          gap: 15px;
          &__link {
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #606060;
          }
        }
        &__title {
          font-family: Rubik;
          font-size: 36px;
          font-weight: 700;
          line-height: 54px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .main {
    .inform {
      .container {
        .inform-card {
          flex-direction: column;
        }
      }
    }
  }
}
@media (max-width: 950px) {
  .main {
    .inform {
      .container {
        .inform-card {
          &__left {
            flex-direction: column;
          }
          &__right {
            flex-direction: column;
          }
        }
      }
    }
  }
}

.main {
  background-color: rgb(251, 248, 236);
  width: 100%;
  padding: 150px 0px 72px 0px;

  .main-top {
    .container {
      .main-top__link {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        &__a {
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: #414141;
          &:hover {
            color: #8f422b;
          }
        }
        &__p {
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: #8f8f8f;
        }
      }
    }
  }

  .price {
    .container {
      .price-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 37px;
        .delegation-right {
          .delegation-right__flex0 {
            display: flex;
            align-items: center;
            gap: 80px;
            margin-bottom: 10px;
          }
          &__btn {
            margin-bottom: 24px;
          }
          &__flex2 {
            display: flex;
            gap: 180px;
            max-width: 584px;
            min-height: 26px;
            background: #f3f2f1;
            margin-bottom: 10px;
            flex-wrap: wrap;
            &__p1 {
              //styleName: Desc/Text/XS;
              font-family: Rubik;
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: left;
              color: #414141;
            }
          }
          &__flex {
            display: flex;
            gap: 321px;
            flex-wrap: wrap;
            &__1 {
              //styleName: Desc/Text/L;
              font-family: Rubik;
              font-size: 24px;
              font-weight: 400;
              line-height: 36px;
              letter-spacing: 0em;
              text-align: left;
              color: #606060;
            }
            &__2 {
              //styleName: Desc/Text/XS;
              font-family: Rubik;
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: left;
              color: #bfbfbf;
            }
            &__b2 {
              //styleName: Desc/Header/M;
              font-family: Rubik;
              font-size: 36px;
              font-weight: 700;
              line-height: 54px;
              letter-spacing: 0em;
              text-align: left;
              color: #414141;
            }
          }
        }
      }
      .delegation-left {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        img {
          width: 100%;
        }
        .indicators {
          img {
            width: 64px;
            height: 86px;
            border-top: none;
          }
        }
        #show {
          width: 504px;
          height: 496px;
        }
      }
      .price-title {
        margin: 24px 0px 16px 0px;
        font-family: Rubik;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        max-width: 1200px;
        color: #414141;
      }
      .price-content1 {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
        align-items: center;
        gap: 24px;
        &__p1 {
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: #414141;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .delegation-right__flex2 {
    gap: 3px;
  }
  .indicators {
    display: flex;
    img {
      width: 100%;
    }
  }
}

.delegation-right__flex0 {
  flex-wrap: wrap;
}

.footer {
  background-image: url("../../assets/images/home-img/bg-footer.png");
  padding: 24px 0;
  background-color: rgb(255, 249, 223);
  .container {
    .footer-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .footer-bottom__flex {
        display: flex;
        align-items: center;
        gap: 20px;
        .footer-bottom__design {
          color: #414141;
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
    .footer-items {
      gap: 133px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &__description2 {
        &__1 {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 40px;
          &__number {
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #414141;
            margin-bottom: 20px;
          }
          &__flex {
            display: flex;
            align-items: center;
            gap: 16px;
          }
        }
      }
      .footer-items-description1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        &__link2 {
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: #414141;
        }
        &__link {
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: #414141;
          padding: 3px 10px;
          border: 1px solid rgb(247, 150, 150);
          &:hover {
            color: rgb(162, 74, 74);
          }
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .foooter {
    .container {
      .footer-bottom {
        gap: 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    .container {
      .footer-items {
        gap: 60px;
      }
    }
  }
}
// footer section
#btn-open {
  padding: 10px 18px;
  border-radius: 5px;
  background-color: rgb(193, 245, 141);
}

.indicators {
  img {
    width: 100%;
  }
}

#show {
  img {
    width: 100%;
  }
}
